h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-decoration-line: underline;
    margin: 3%
}

.season-heading {
    font-family: 'Courier New', Courier, monospace;
}

.produce-list {
    font-family: 'Courier New', Courier, monospace;
    background-color: #e4f5ee;
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    background-image: url(https://images.unsplash.com/photo-1485637701894-09ad422f6de6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=836&q=80);

}

#spring {
    grid-column: 1 / 1;
    grid-row: 1;
    background-color: #e4f5ee;
    opacity: .8;
    padding: 5%;
    margin: 5%;
}

#spring:hover {
    opacity: 1
}

#summer {
    grid-column: 2/ 2;
    grid-row: 1;
    background-color: #e4f5ee;
    opacity: .8;
    padding: 5%;
    margin: 5%;
}

#summer:hover {
    opacity: 1
}

#fall {
    grid-column: 3 / 4;
    grid-row: 1;
    background-color: #e4f5ee;
    opacity: .8;
    padding: 5%;
    margin: 5%;
}

#fall:hover {
    opacity: 1
}

#winter {
    grid-column: 4 / 4;
    grid-row: 1;
    background-color: #e4f5ee;
    opacity: .8;
    padding: 5%; 
    margin: 5%;
}

#winter:hover {
    opacity: 1;
}

body {
    background-color: #95cfb7;
}

#recipes {
    font-family: 'Courier New', Courier, monospace;
    padding: 3%;
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1485637701894-09ad422f6de6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=836&q=80); 
}

#search-form {
    font-family: 'Courier New', Courier, monospace;
    background-color: #e4f5ee;
    margin: 5%;
    padding: 5%;
    text-align: center;
}

#submit-button {
    font-family: 'Courier New', Courier, monospace;
}

#recipe-image {
    height: 200px;
}

#recipe-card {
    background-color: #e4f5ee;
    padding: 5%;
    margin: 5%;
    text-align: center;
}

#search-form-input {
    font-family: 'Courier New', Courier, monospace;
}

#page-description {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: smaller;
    font-weight: lighter;
    margin: 2%
}

#recipe-header {
    background-color: #e4f5ee;
    padding: .5%
}